# App
SECRET_KEY="django-insecure-+uc(boq5=w)=g^vk%-d7o)wp^y&q54c6gw+3$=)sig$nvknlu@"
ALLOWED_HOSTS=0.0.0.0,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@email.com

# PostgreSQL
POSTGRES_NAME=optisense
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=optisense-db
POSTGRES_PORT=5432